<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.AttendanceMapper">

    <select id="findAllAttendance" resultType="cn.bean.Attendance">
        select * from Attendance
    </select>

    <insert id="add_Attendance" parameterType="java.util.Map">
        insert into attendance(NumberIntegrals,content) value (#{Integral_quantity},#{Attendance_record})
    </insert>

    <update id="upd_Attendance" parameterType="java.util.Map">
        update attendance set NumberIntegrals = #{updIntegral_quantity},content=#{updAttendance_record}
        where AttendanceNo = #{AttendanceNo}
    </update>

    <delete id="delete_Attendance" parameterType="java.lang.Integer">
        delete from attendance where AttendanceNo = #{aid}
    </delete>

</mapper>