<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.CommodityMapper">
    <!-- 实体类全字段返回对象 -->
    <resultMap type="cn.bean.Commodity" id="CommodityResultMap">
        <id column="commodityno" jdbcType="INTEGER" property="commodityno" />
        <result column="price" jdbcType="DOUBLE" property="price" />
        <result column="needintegral" jdbcType="INTEGER" property="needintegral" />
        <result column="commoditytitle" jdbcType="VARCHAR" property="commoditytitle" />
        <result column="commoditydetails" jdbcType="VARCHAR" property="commoditydetails" />
        <result column="commodityinventory" jdbcType="INTEGER" property="commodityinventory" />
        <result column="commoditytypeno" jdbcType="INTEGER" property="commoditytypeno" />
        <result column="commoditytype" jdbcType="INTEGER" property="commoditytype" />
        <!-- 指定联合查询出的商品类型字段的封装 -->
        <association property="commodityTypeId" javaType="cn.bean.CommodityType">
            <id column="commoditytypeno" property="commoditytypeno"/>
            <result column="commoditytypename" property="commoditytypename"/>
            <result column="supercommoditytype" property="supercommoditytype"/>
            <result column="commodityrank" property="commodityrank"/>
            <association property="supercommoditytypeno" javaType="cn.bean.CommodityType">
                <id column="commoditytypeno" property="commoditytypeno"/>
                <result column="commoditytypename" property="commoditytypename"/>
                <result column="supercommoditytype" property="supercommoditytype"/>
                <result column="commodityrank" property="commodityrank"/>
            </association>
        </association>
    </resultMap>
    <sql id="WithCommodityType_Column_List">
        c.commodityno,c.price,c.needintegral,c.commoditytitle,c.commoditydetails,c.commodityinventory,c.commoditytypeno,c.commoditytype,
        ct.commoditytypeno,ct.commoditytypename,ct.commodityrank,
        sct.commoditytypeno,sct.commoditytypename,sct.supercommoditytype,sct.commodityrank
    </sql>
    <select id="selectAllCommodity" resultMap="CommodityResultMap" >
        select
        <include refid="WithCommodityType_Column_List" />
        from commodity c,commoditytype ct,commoditytype sct
        <where>
            c.commoditytypeno=ct.commoditytypeno and  ct.supercommoditytype=sct.commoditytypeno
        </where>
    </select>


    <select id="selectCommodityById" parameterType="cn.bean.Commodity" resultMap="CommodityResultMap">
        select
        <include refid="WithCommodityType_Column_List" />
        from commodity c,commoditytype ct,commoditytype sct
        <where>
            c.commoditytypeno=ct.commoditytypeno and  ct.supercommoditytype=sct.commoditytypeno
            and c.commodityno=#{commodityno}
        </where>
    </select>
    <!-- 根据商品类型来查询商品 -->
    <select id="commodityByType" parameterType="java.lang.Integer" resultMap="CommodityResultMap">
        select
        <include refid="WithCommodityType_Column_List" />from commodity c,commoditytype ct,commoditytype sct
        <where>
            c.commoditytypeno=ct.commoditytypeno and  ct.supercommoditytype=sct.commoditytypeno
            and c.commoditytypeno=#{commodityTypeNo}
        </where>
    </select>
    <!-- 根据商品类型来查询商品 -->
    <select id="findProByType" parameterType="java.lang.Integer" resultMap="CommodityResultMap">
        select
        <include refid="WithCommodityType_Column_List" />
        from commodity c,commoditytype ct,commoditytype sct
        <where>
            c.commoditytypeno=ct.commoditytypeno and  ct.supercommoditytype=sct.commoditytypeno
            <if test="idType != null and idType !=''">
                and c.CommodityTypeNo = #{idType}
            </if>
        </where>
    </select>

    <!-- 查询商品数量 -->
    <select id="findCountCommodity" resultType="java.lang.Integer">
        select count(*) from Commodity
    </select>

    <insert id="bgAddProduct" parameterType="cn.bean.Commodity" keyColumn="id" keyProperty="commodityno" useGeneratedKeys="true">
         INSERT into commodity(commodityno,price,needintegral,commoditytitle,commoditydetails,commodityinventory,commoditytypeno,commoditytype)
          VALUES(null,#{price},#{needintegral},#{commoditytitle},#{commoditydetails},#{commodityinventory},#{commoditytypeno},1);
    </insert>

    <update id="updatePro" parameterType="cn.bean.Commodity">
        update commodity SET price = #{price},NeedIntegral=#{needintegral},Commoditytitle=#{commoditytitle},Commoditydetails=#{commoditydetails},
        Commodityinventory=#{commodityinventory},CommodityTypeNo=#{commoditytypeno} where CommodityNo=#{commodityno}
    </update>

    <update id="bg_undercarriage_product" parameterType="java.lang.Integer">/*下架商品*/
        update commodity set commodityType = 0 where CommodityNo= #{proid}
    </update>

    <update id="bg_grounding_product" parameterType="java.lang.Integer">/*上架商品*/
        update commodity set commodityType = 1 where CommodityNo= #{proid}
    </update>


    <select id="likeProductByProName" resultMap="CommodityResultMap" parameterType="java.lang.String">
        select
        <include refid="WithCommodityType_Column_List" />
        from commodity c,commoditytype ct,commoditytype sct
        <where>
            c.commoditytypeno=ct.commoditytypeno and  ct.supercommoditytype=sct.commoditytypeno and
            c.Commoditytitle like "%"#{proName}"%"
        </where>
    </select>

    <update id="updateCommoditySum" parameterType="cn.bean.Commodity">/*上架商品*/
        update commodity set commodityinventory = commodityinventory-#{commodityinventory} where commodityno= #{commodityno}
    </update>
</mapper>