<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.EmpMapper">
    <!-- 根据账号密码查询所有员工 -->
    <resultMap type="cn.bean.Emp" id="WithDeptResultMap">
        <id column="empno" jdbcType="INTEGER" property="empno" />
        <result column="empname" jdbcType="VARCHAR" property="empname" />
        <result column="empsex" jdbcType="VARCHAR" property="empsex" />
        <result column="idcard" jdbcType="VARCHAR" property="idcard" />
        <result column="departmentno" jdbcType="INTEGER" property="departmentno" />
        <result column="positivedates" jdbcType="TIMESTAMP" property="positivedates" />
        <result column="empphone" jdbcType="VARCHAR" property="empphone" />
        <result column="intergralno" jdbcType="INTEGER" property="intergralno" />
        <result column="position" jdbcType="INTEGER" property="position" />
        <result column="emptype" jdbcType="INTEGER" property="emptype" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <!-- 指定联合查询出的部门字段的封装 -->
        <association property="departmentId" javaType="cn.bean.Department">
            <id column="depano" property="depano"/>
            <result column="depaname" property="depaname"/>
            <result column="parentdepa" property="parentdepa"/>
            <association property="department" javaType="cn.bean.Department">
                <id column="depano" property="depano"/>
                <result column="depaname" property="depaname"/>
                <result column="parentdepa" property="parentdepa"/>
            </association>
        </association>
        <association property="integralId" javaType="cn.bean.Integral">
            <id column="intergralno" property="intergralno"/>
            <result column="totalintegral" property="totalintegral"/>
            <result column="haveintegral" property="haveintegral"/>
            <result column="remainingpoints" property="remainingpoints"/>
            <result column="lastchangetime" property="lastchangetime"/>
        </association>
    </resultMap>
    <sql id="WithDept_Column_List">
  	e.empno, e.empname, e.empsex, e.idcard, e.departmentno, e.positivedates, e.empphone,
  	e.intergralno, e.position, e.emptype, e.password,
  	d.depano, d.depaname,d.parentdepa,i.intergralno,i.totalintegral,i.haveintegral,i.remainingpoints,i.lastchangetime
  </sql>
    <!--前台登录-->
    <select id="loginToIndexBefore" parameterType="cn.bean.Emp" resultMap="WithDeptResultMap" >
        select
        <include refid="WithDept_Column_List" />
        from emp e ,department d,integral i
        <where>
          e.departmentno=d.depano and e.intergralno=i.intergralno and
          e.empname=#{empname} and e.password = #{password}
        </where>
    </select>
   <!-- 判断密码是否正确-->
    <select id="selectOldPassword" parameterType="cn.bean.Emp" resultType="cn.bean.Emp">
        select
        *
        from emp
        <where>
            empname=#{empname} and password = #{password}
        </where>
    </select>
    <!-- 查询所有员工 -->
    <select id="findEmpAll" resultMap="WithDeptResultMap" >
        select
        <include refid="WithDept_Column_List" />
        from emp e ,department d,integral i
        where e.departmentno=d.depano
    </select>

    <!-- 添加员工 -->
    <insert id="bgaddEmp" parameterType="cn.bean.Emp">
        insert into emp(empname,empsex,idcard,departmentno,positivedates,empphone,intergralno,position,emptype,password) VALUES (#{empname},
          #{empsex},#{idcard},#{departmentno},SYSDATE(),#{empphone},#{intergralno},#{position},0,233)
    </insert>
    <!-- 修改用户 -->
    <update id="bgupdEmp" parameterType="cn.bean.Emp">
          update emp set empname = #{empname},empsex=#{empsex},idcard=#{idcard},departmentno=#{departmentno},empphone=#{empphone},position=#{position} where empno = #{empno}
    </update>
    <!--删除用户同时删除绑定的积分-->
    <delete id="bgdelEmp" parameterType="java.lang.Integer">
         DELETE emp,integral FROM emp,integral where  emp.intergralno=integral.intergralno AND emp.empno=#{id}
    </delete>
    <!--校长修改-->
    <update id="masterUpd">
        update emp set empphone=#{empphone},password=#{password} where empno=#{empno}
    </update>



    <!-- 模糊查询所有员工 -->
    <select id="bgLikeSelectByName" parameterType="java.lang.String" resultMap="WithDeptResultMap">
        select
        <include refid="WithDept_Column_List" />
        from emp e ,department d,integral i
        <where>
            e.departmentno=d.depano and e.intergralno=i.intergralno and
            e.EmpName like "%"#{name}"%"
        </where>
    </select>

    <update id="bgupdEmpPwd" parameterType="java.util.Map">
        update emp set password = #{pwd} where empno = #{id}
    </update>


    <!--批量删除用户同时删除绑定的积分-->
    <delete id="bgBatchdeleting_emp" parameterType="java.util.List">
        DELETE emp,integral FROM emp,integral where  emp.intergralno=integral.intergralno AND emp.empno in
       /* open:表示语句以什么开始 separator:表示在每次迭代之间，以什么作为分隔符 close：表示以什么结束 */
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>

    </delete>

    <update id="updateBeforeEmp" parameterType="cn.bean.Emp">
        update Emp
        <set>
            <if test="empname != null">
                empName = #{empname},
            </if>
            <if test="empsex != null">
                empsex = #{empsex},
            </if>
            <if test="idcard != null">
                idcard = #{idcard},
            </if>
            <if test="empphone != null">
                empphone = #{empphone},
            </if>
            <if test="password !=null">
                password=#{password},
            </if>
        </set>
        where empno = #{empno}
    </update>

    <select id="findEmpByDept" parameterType="cn.bean.Emp"  resultMap="WithDeptResultMap">
        select
        <include refid="WithDept_Column_List" />
        from emp e ,department d,integral i
        <where>
            e.departmentno=d.depano and e.intergralno=i.intergralno and
            e.DepartmentNo =#{departmentno}
        </where>

    </select>

    <select id="findEmpById" parameterType="cn.bean.Emp"  resultMap="WithDeptResultMap">
        select
        <include refid="WithDept_Column_List" />
        from emp e ,department d,integral i
        <where>
            e.departmentno=d.depano and e.intergralno=i.intergralno and
            e.EmpNo =#{empno}
        </where>

    </select>
    <update id="updateBeforeEmpType" parameterType="cn.bean.Emp">
        update Emp
        <set>
            <if test="emptype != null">
                emptype = #{emptype},
            </if>
        </set>
        where
        <if test="empno != null">
            empno = #{empno}
        </if>
        <if test="empno == null">
            empno = 0
        </if>
    </update>


</mapper>