<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.ImagerMapper">
    <select id="selectAllImager" resultType="cn.bean.Imager" >
        select * from imager
    </select>

    <insert id="addImg" parameterType="cn.bean.Imager">
        INSERT INTO imager(imagerno,imagerurl,imageclassification,imagerdescription,imagerid)
        VALUES(null,#{imagerurl},#{imageclassification},#{imagerdescription},#{imagerid});

    </insert>

    <update id="updImg" parameterType="cn.bean.Imager">
        update imager set imagerurl =#{imagerurl} where imagerID =#{imagerid}
    </update>


</mapper>