<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.IntegralMapper">
    <insert id="addJifen" useGeneratedKeys="true" keyProperty="intergralno" parameterType="cn.bean.Integral">
        insert INTO  integral(totalintegral,haveintegral,remainingpoints,lastchangetime) values(#{totalintegral},
        #{haveintegral},#{remainingpoints},SYSDATE())
    </insert>
    <!--用户下单扣除积分-修改-->
    <update id="updateByExampleIntegral" parameterType="cn.bean.Integral">
        update Integral
        <set>
            <if test="haveintegral != null">
                haveintegral =haveintegral+ #{haveintegral},
            </if>
            <if test="remainingpoints != null">
                remainingpoints =remainingpoints- #{remainingpoints},
            </if>
            <if test="1>0">
                lastchangetime = now(),
            </if>
        </set>
        <where>
            intergralno=#{intergralno}
        </where>
    </update>

    <!--结算 加积分 -->
    <update id="addProcessingIntegral" parameterType="java.util.Map">
        update Integral set TotalIntegral = TotalIntegral + #{jfNum},RemainingPoints = RemainingPoints + #{jfNum} where IntergralNo = #{IntergralNo}
    </update>

    <!--结算 减少积分 -->
    <update id="reduceProcessingIntegral" parameterType="java.util.Map">
        update Integral set RemainingPoints = RemainingPoints + #{jfNum},HaveIntegral = HaveIntegral - #{jfNum} where IntergralNo = #{IntergralNo}
    </update>

</mapper>